

.footer {
    background-color: #333;
    color: #fff;
    padding: 14px;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}
@media screen and (max-width:480px) {
    .footer {
        display: flex;
        
        margin: 0 auto;
        width: 100%;
    }
    
}